{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}courseprogect.of.by | inventory{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>Inventory ✅</h1>

        {% include 'inventory/inventory_table.html.twig' %}
    </div>
{% endblock %}
