{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}courseprogect.of.by | inventory{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>Inventory ✅</h1>

        {% include 'inventory/inventory_table.html.twig' with {
            'pagination': pagination
        } %}
        
        {% if pagination is defined %}
            <div class="d-flex justify-content-center mt-4">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock %}