{% extends 'components/base_table.html.twig' %}

{% block table_headers %}
    <th>ID</th>
    <th>Name</th>
    <th>Quantity</th>
{% endblock %}

{% block table_rows %}
    {% for item in inventory %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
    {% endfor %}
{% endblock %}
