{% extends 'components/base_table.html.twig' %}

{% block table_headers %}
    <th>ID</th>
    <th>Name</th>
{% endblock %}

{% block table_rows %}
    {% for item in inventory %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.category ? item.category.name : 'Без категории' }}</td>
    </tr>
{% endfor %}

{% endblock %}
