api_platform:
    title: 'Hello API Platform'
    version: '1.0.0'

    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']

    show_webby: true

    mapping:
        paths:
            - '%kernel.project_dir%/src/Entity'
    
    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']
        html: ['text/html']

    patch_formats:
        json: ['application/merge-patch+json']
    
    swagger:
        versions: [3]
        api_keys:
            JWT:
                name: Authorization
                type: header
        
    exception_to_status:
        Symfony\Component\Serializer\Exception\ExceptionInterface: 400
        Doctrine\ORM\OptimisticLockException: 409
        ApiPlatform\Exception\InvalidArgumentException: 400
        ApiPlatform\Exception\FilterValidationException: 400