framework:
    secret: '%env(APP_SECRET)%'
    
    # INTERNATIONALIZATION CONFIGURATION
    default_locale: 'en'
    translator:
        default_path: '%kernel.project_dir%/translations'
        fallbacks:
            - 'en'
        enabled: true
    
    # Note that the session will be started ONLY if you read or write from it.
    session:
        enabled: true
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    #esi: true
    #fragments: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file