version: '3.9'

services:

  # PHP / Symfony
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    environment:
      WEB_DOCUMENT_ROOT: /app/public
      WEB_DOCUMENT_INDEX: index.php
      PHP_DISMOD: ioncube
      DATABASE_URL: "postgres://app:secret@database:5432/app"
    ports:
      - "8010:80"
    volumes:
      - .:/app
    working_dir: /app
    depends_on:
      - database
      - elasticsearch

  # PostgreSQL
  database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "app", "-U", "app"]
      timeout: 5s
      retries: 5
      start_period: 60s
    ports:
      - "5432:5432"
    volumes:
      - database_data:/var/lib/postgresql/data:rw

  # Elasticsearch
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.22
    container_name: es-light
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    mem_limit: 2g
    volumes:
      - esdata:/usr/share/elasticsearch/data

# Volumes

volumes:
  database_data:
  esdata:
