version: '3.8'

services:
  app:
    build: .
    container_name: symfony_app
    ports:
      - "8080:8080"
    volumes:
      - .:/var/www/html
    depends_on:
      - database
      - elasticsearch

  database:
    image: postgres:16
    container_name: pg-course
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.22
    container_name: es-light
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
