.topbar {
    position: fixed;
    margin-left: 50px;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px; 
    background-color: #212529;
    z-index: 2000;
}

.search-form input {
    border-radius: 20px;
    padding-left: 12px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0; 
    z-index: 3000;
}

.main-wrapper {
    margin-left: 50px;
    padding-top: 60px;
    overflow-y: auto;
}
