{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}courseprogect.of.by | Admin Panel
{% endblock %}

{% block content %}
	<div class="bg-light p-3 rounded">
		{% include 'components/admin_panel_content.html.twig' with { users: users } %}
	</div>
{% endblock %}
