<nav class="sidebar bg-dark text-light d-flex flex-column align-items-center h-100 border-end" style="width: 50px;">
	<ul class="nav flex-column w-100 text-center">
		<li class="nav-item mb-2">
			<a href="/profile" class="nav-link text-light d-flex flex-column align-items-center p-0">
				<i class="bi bi-person-circle fs-3"></i>
				<span class="text-light small text-nowrap" style="font-size: 9px;">Profile</span>
			</a>
		</li>
		<li class="nav-item mb-2">
			<a href="/inventories" class="nav-link text-light d-flex flex-column align-items-center p-0">
				<i class="bi bi-box-seam fs-3"></i>
				<span class="text-light small text-nowrap" style="font-size: 9px;">Inventory</span>
			</a>
		</li>
		{% if user.isAdmin %}
			<li class="nav-item mt-2">
				<a href="/adminpanel" class="nav-link text-danger d-flex flex-column align-items-center p-0">
					<i class="bi bi-person-lines-fill fs-3"></i>
					<span class="text-danger small text-nowrap" style="font-size: 9px;">Admin</span>
				</a>
			</li>
		{% endif %}
		<li class="nav-item mb-2">
			<a href="/inventories" class="nav-link text-light d-flex flex-column align-items-center p-0">
				<i class="bi bi-sun-fill me-1"></i>
				<span class="text-light small text-nowrap" style="font-size: 9px;">Light</span>
			</a>
		</li>

		<li class="nav-item mb-2">
			<a href="/inventories" class="nav-link text-light d-flex flex-column align-items-center p-0">
				<i class="bi bi-circle-half me-1"></i>
				<span class="text-light small text-nowrap" style="font-size: 9px;">Dark</span>
			</a>
		</li>
		<li class="nav-item mb-2">
			<a href="/inventories" class="nav-link text-light d-flex flex-column align-items-center p-0">
				<i class="bi bi-translate me-1"></i>
				<span class="text-light small text-nowrap" style="font-size: 9px;">EN</span>
			</a>
		</li>
		<li class="nav-item mb-2">
			<a href="/inventories" class="nav-link text-light d-flex flex-column align-items-center p-0">
				<i class="bi bi-translate me-1"></i>
				<span class="text-light small text-nowrap" style="font-size: 9px;">ES</span>
			</a>
		</li>
		<li class="nav-item mb-2">
			<a href="/inventories" class="nav-link text-light d-flex flex-column align-items-center p-0">
				<i class="bi bi-x-circle-fill"></i>
				<span class="text-light small text-nowrap" style="font-size: 9px;">Exit</span>
			</a>
		</li>
	</ul>

</nav>
