<table class="table table-striped table-bordered">
	<thead>
		<tr>
			{% block table_headers %}
				<th>ID</th>
				<th>Name</th>
			{% endblock %}
		</tr>
	</thead>
	<tbody>
		{% block table_rows %}
			<tr>
				<td>—</td>
				<td>—</td>
			</tr>
		{% endblock %}
	</tbody>
</table>
