<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-outline-info me-2 rounded" name="action" value="view">
            <i class="bi bi-eye"></i>
            View
        </button>
        <button type="submit" class="btn btn-outline-warning me-2 rounded" name="action" value="edit">
            <i class="bi bi-pencil-square"></i>
            Edit
        </button>
        <button type="submit" class="btn btn-outline-danger rounded" name="action" value="delete">
            <i class="bi bi-trash-fill"></i>
            Delete
        </button>
    </div>
</div>
